@inject SignInManager<Users> SignInManager
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" href="/Account/Index">Select lang</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.StatisticsNavClass(ViewContext)" href="/Account/Statistics">Statistics</a></li>

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalInfoNavClass(ViewContext)" href="/Account/PersonalInfo">PersonalInfo</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" href="/Account/ChangePassword">Change Password</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.RatingNavClass(ViewContext)" href="/Account/Rating">Rating</a></li>
    }

</ul>
