@model DTO
@{
    ViewData["Title"] = "Select lang";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@{
    Layout = "~/Views/Account/Manage/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    SelectList languagesList = new SelectList(Model.LanguagesList, "Id", "Name");
    <div class="form-group w-50 p-3">
        <p>Native language:</p>
        @Html.DropDownList("IdLangNative", languagesList as SelectList)

        <p>Learning language:</p>
        @Html.DropDownList("IdLangLearn", languagesList as SelectList)

        <p>Enable translation of words in their native language:</p>
        @Html.CheckBox("EnableNativeLang")

        <p>Enable sound of words:</p>
        @Html.CheckBox("EnableSound")

        <p>Enable pronounce of words in their native language:</p>
        @Html.CheckBox("EnablePronounceNativeLang")

        <p>Enable pronounce of words in learning language:</p>
        @Html.CheckBox("EnablePronounceLearnLang")

        <button type="submit" class="btn btn-success">Submit</button>
    </div>
}

<script>
    var select = document.querySelectorAll('select, input');
    for (var i = 0; i < select.length; i++) {
        select[i].className += "form-control";
    }
</script>