@model SelectList
@{
    ViewData["Title"] = "Select lang";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@{
    Layout = "~/Views/Account/Manage/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="form-group w-50 p-3">
        <p>Native language:</p>
        @Html.DropDownList("idLangNative", Model as SelectList)

        <p>Learning language:</p>
        @Html.DropDownList("idLangLearn", Model as SelectList)

        <p>Enable translation of words in their native language:</p>
        @Html.CheckBox("enableNativeLang")

        <p>Enable sound of words:</p>
        @Html.CheckBox("enableSound")

        <p>Enable pronounce of words in their native language:</p>
        @Html.CheckBox("enablePronounceNativeLang")

        <p>Enable pronounce of words in learning language:</p>
        @Html.CheckBox("enablePronounceLearnLang")

        <button type="submit" class="btn btn-success">Submit</button>
    </div>
}

<script>
    var select = document.querySelectorAll('select, input');
    for (var i = 0; i < select.length; i++) {
        select[i].className += "form-control";
    }
</script>