@model DTOStatistics

@{
    ViewData["Title"] = "Rating";
    ViewData["ActivePage"] = ManageNavPages.Rating;
}

@{
    Layout = "~/Views/Account/Manage/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Rating.css" />

<div id="totalRating">
    @{
        int idLine = 1;
    }

    @foreach (var user in Model.TotalRatings)
    {
        if (user.Username == Model.CurrentUser.UserName)
        {
            <div class="languages bg-secondary">
                @idLine:  @user.Username - @user.Total
            </div>
        }
        else
        {
            <div class="languages">
                @idLine:  @user.Username - @user.Total
            </div>
        }

        idLine++;
    }
</div>

<div id="totalRatingLang">
    @foreach (var lang in Model.LangList)
    {
    <div class="languages text-dark" id="@lang.Id">
        @lang.WordNativeLang

        @foreach (var user in Model.LangRatings)
        {
            if (user.Username == Model.CurrentUser.UserName && user.Lang == lang.WordNativeLang)
            {
                <div class="users bg-secondary" id="@lang.Id">
                    @user.Username - @user.Total
                </div>
            }
            else if (user.Lang == lang.WordNativeLang)
            {
                <div class="users" id="@lang.Id">
                    @user.Username - @user.Total
                </div>
            }
        }

    </div>
    }
</div>

<script src="~/js/Rating.js"></script>
