@model DTOStatistics

@{
    ViewData["Title"] = "Statistics";
    ViewData["ActivePage"] = ManageNavPages.Statistics;
}

@{
    Layout = "~/Views/Account/Manage/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Statistics.css" />

@if (!Model.IsSignedIn)
{
    <div class="alert alert-warning" role="alert">
        You must be logged in to view statistics.
        <div>
            @Html.ActionLink("Login", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account")
        </div>
    </div>
}

@{int idLang = 0;}
@foreach (var lang in Model.LangList)
{
    <div class="languages text-dark" id="@lang.Id">
        @lang.WordNativeLang - @lang.Total

        @{int idCat = 0;}
        @foreach (var item in Model.Categories[idLang])
        {
            <div class="categories" id="@lang.Id" cat="@item">
                @item

                @{int idSubCat = 0;}
                @foreach (var subCat in Model.SubCategories[idCat])
                {
                    <div class="subCategories" id="@lang.Id" cat="@item" subCat="@subCat">
                        @subCat

                        @{int idTest = 0;}
                        @foreach (var test in Model.Tests[idSubCat])
                        {
                            <div class="tests" id="@lang.Id" cat="@item" subCat="@subCat" test="@test">
                                @test
                                <div class="testResults" id="@lang.Id" cat="@item" subCat="@subCat" test="@test">
                                    <table class="table text-dark">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Test Date
                                                </th>
                                                <th>
                                                    Result
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @{int idTestScore = 0;}
                                            @foreach (var testScore in Model.TestScores[idTestScore])
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => testScore.TestDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => testScore.Result)
                                                    </td>
                                                </tr>

                                                idTestScore++;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            idTest++;
                        }

                    </div>

                    idSubCat++;
                }

            </div>

            idCat++;
        }

    </div>

    idLang++;
}

<script src="~/js/Statistics.js"></script>
