@model IEnumerable<DTO>
@{
    ViewData["Title"] = "Manual";
}

<link rel="stylesheet" href="~/css/Manual.css" />

<div class="container">
    <div class="row">
        <div id="slideshow" class="carousel slide container" data-ride="carousel" data-interval="false">
            <div class="carousel-inner border border-success">
                <div class="carousel-item active">
                    <div class="image">
                        <img class="d-block img-thumbnail" src="../../../../@(Model.ElementAt(0).Picture)" alt="@Model.ElementAt(0).WordNativeLang">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h1>
                            @(Model.ElementAt(0).WordLearnLang)
                            @if (Model.ElementAt(0).EnableNativeLang.Contains("true"))
                            {
                                <em>( @Model.ElementAt(0).WordNativeLang )</em>
                            }
                        </h1>
                        <div>
                            @if (Model.ElementAt(0).EnableSound.Contains("true") && !String.IsNullOrEmpty(Model.ElementAt(0).Sound))
                            {
                                <p>Sound:</p>
                                <audio controls>
                                    <source src="../../../../@Model.ElementAt(0).Sound" type="audio/mpeg" />
                                    Your browser does not support the audio element.
                                </audio>
                            }
                            @if (Model.ElementAt(0).EnablePronounceLearnLang.Contains("true"))
                            {
                                <p>Pronounce(Learn):</p>
                                <audio controls>
                                    <source src="../../../../@Model.ElementAt(0).PronounceLearn" type="audio/mpeg" />
                                    Your browser does not support the audio element.
                                </audio>
                            }
                            @if (Model.ElementAt(0).EnablePronounceNativeLang.Contains("true"))
                            {
                                <p>Pronounce(Native):</p>
                                <audio controls>
                                    <source src="../../../../@Model.ElementAt(0).PronounceNative" type="audio/mpeg" />
                                    Your browser does not support the audio element.
                                </audio>
                            }
                        </div>
                    </div>
                </div>
                @foreach (var word in Model.Skip(1))
                {
                    <div class="carousel-item">
                        <div class="image">
                            <img class="d-block img-thumbnail" src="../../../../@word.Picture" alt="@word.WordNativeLang">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>
                                @word.WordLearnLang
                                @if (Model.ElementAt(0).EnableNativeLang.Contains("true"))
                                {
                                    <em>( @word.WordNativeLang )</em>
                                }
                            </h1>
                            <div>
                                @if (Model.ElementAt(0).EnableSound.Contains("true") && !String.IsNullOrEmpty(Model.ElementAt(0).Sound))
                                {
                                    <p>Sound:</p>
                                    <audio controls>
                                        <source src="../../../../@word.Sound" type="audio/mpeg" />
                                        Your browser does not support the audio element.
                                    </audio>
                                }
                                @if (Model.ElementAt(0).EnablePronounceLearnLang.Contains("true"))
                                {
                                    <p>Pronounce(Learn):</p>
                                    <audio controls>
                                        <source src="../../../../@word.PronounceLearn" type="audio/mpeg" />
                                        Your browser does not support the audio element.
                                    </audio>
                                }
                                @if (Model.ElementAt(0).EnablePronounceNativeLang.Contains("true"))
                                {
                                    <p>Pronounce(Native):</p>
                                    <audio controls>
                                        <source src="../../../../@word.PronounceNative" type="audio/mpeg" />
                                        Your browser does not support the audio element.
                                    </audio>
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>
            <a class="carousel-control-prev" href="#slideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#slideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>