@using DAL.Models
@model IEnumerable<DTO>
@{
    ViewData["Title"] = "Tests";
}

<link rel="stylesheet" href="~/css/CatTestsSubCat.css" />

<div id="actionLink">
    @Html.ActionLink("Manual", "Manual", ViewContext.RouteData.Values["controller"].ToString(), new { id = Model.First().SubCategoryId })
    @Html.ActionLink("Slideshow", "Slideshow", ViewContext.RouteData.Values["controller"].ToString(), new { id = Model.First().SubCategoryId })
</div>

<div class="parent">
    @foreach (var test in Model)
    {
        //73 - 62 (substring)
        <a class="link" href="~/Home/Categories/SubCategories/Tests/@test.Picture.Substring(73, 6)?id=@Model.First().SubCategoryId">
            <div class="child">
                <p>@test.WordNativeLang (@test.WordLearnLang)</p>
                <img src="../../../@test.Picture" alt="@test.WordNativeLang">
            </div>
        </a>
    }
</div>

<script>
    var select = document.querySelectorAll('#actionLink a');
    for (var i = 0; i < select.length; i++) {
        select[i].className += "btn btn-outline-success";
        select[select.length - 1].setAttribute("role", "button");
        select[select.length - 1].setAttribute("aria-pressed", "true");
    }
</script>
