@model IEnumerable<DTO>
@{
    ViewData["Title"] = "Tests";
}

<link rel="stylesheet" href="~/css/CatTestsSubCat.css" />

<div id="actionLink">
    @Html.ActionLink("Manual", "Manual", ViewContext.RouteData.Values["controller"].ToString(), new { id = Model.First().SubCategoryId })
    @Html.ActionLink("Slideshow", "Slideshow", ViewContext.RouteData.Values["controller"].ToString(), new { id = Model.First().SubCategoryId })
</div>

<div class="parent">
    @{ int numberTest = 1; }
    @foreach (var test in Model)
    {
        <a class="link" href="~/Home/Categories/SubCategories/Tests/Test?id=@Model.First().SubCategoryId&idTest=@numberTest">
            <div class="child">
                <p>@test.WordNativeLang (@test.WordLearnLang)</p>
                <img src="../../../@test.Picture" alt="@test.WordNativeLang">
            </div>
        </a>
        numberTest++;
    }
</div>

<script src="~/js/Tests.js"></script>
